decoder:
  name: dcgan_deep_onlylocal_clust
  deterministicOnSeg: True
  nlabels: 1
  n_locallabels: 25
encoder:
  name: dcgan_deep_onlylocal_clust
  nlabels: 1
  n_locallabels: 25
discriminator:
  name: dcgan_deep_onlylocal_clust_bigan
  kwargs:
    qhead_withImg: False
  nlabels: 1
  n_locallabels: 25
label_generator:
  label_size: 8
  name: dcgan_label_gen
  nlabels: 1
  n_locallabels: 25
  conditioning: unconditional
label_discriminator:
  label_size: 8
  name: dcgan_label_gen
  nlabels: 1
  n_locallabels: 25
  conditioning: unconditional
inherit_from: configs/cifar/default.yaml
training:
  out_dir: output/cifar/K2_25_withDisc_BiGAN_detOnSeg_CONLOSSIMG_ImgSeg_detach_woWeightInit_size2
  use_disc: True
  con_loss: True